@model MartinsHidraulica.Views.ViewModel.OrcamentoViewModel;

@{
    ViewBag.Title = "Novo Orçamento";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <div>
        <a href="Orcamentos" class="btn btn-warning">
            <i class="fas fa-chevron-left fa-1x"></i>
        </a>
    </div>

    <div class="flex-grow-1 text-center">
        <h3 style="font-weight: bold">Novo Orçamento</h3>
    </div>
</div>
<hr/>

<form id="gerarOrcamentoForm" action="/ManterOrcamentos/GerarOrcamento" method="POST">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-6 mb-3">
            <label class="form-label "for="identificacao">Identificação do Orçamento
                <i class="fas fa-question-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top"
                   title="Será usado para pesquisa dos orçamentos, o campo é obrigatório caso o cliente
                        não esteja cadastrado."></i>
            </label>
            <input class="form-control" type="text" name="Identificacao" id="identificacaoOrcamento"/>
        </div>

        <!-- Campo hidden pra ocupar o espaço -->
        <div class="col-6">
            <input type="hidden"/>
        </div>

        <hr/>
        <!-- Informações da Empresa -->
        <div class="col-6 d-flex flex-column justify-content-center align-items-center"
             style="border-right: 1px solid black; border: 1px solid black;">
            <img src="/ManterConfiguracoes/ObterLogo" class="img-fluid" alt="Logo da empresa"/>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center"
             style="border: 1px solid black;">
            <input class="form-control text-center mb-1" type="text" name="EmpresaNome" value="@Model.EmpresaRazaoSocial" disabled/>
            <div class="input-group">
                <input class="form-control text-center mb-1" type="text" name="EmpresaCep" value="@Model.EmpresaCep" disabled/>
                <input class="form-control text-center mb-1" type="text" name="EmpresaEndereco" value="@Model.EmpresaEndereco" disabled/>
            </div>
            <input class="form-control text-center mb-1" type="text" name="EmpresaComplemento" value="@Model.EmpresaComplemento" disabled/>
            <input class="form-control text-center mb-1" type="text" name="EmpresaTelefone" value="@Model.EmpresaTelefone" disabled/>
            <input class="form-control text-center" type="text" name="EmpresaEmail" value="@Model.EmpresaEmail" disabled/>
        </div>

        <!-- div pra separar -->
        <div class="col-12 mt-4">
            <input type="hidden"/>
        </div>

        <input type="hidden" name="ClienteId" id="idCliente"/>
        <div class="col-6 col-md-4">
            <label for="nomeCliente" class="form-label">Cliente:
                <span class="text-danger font-weight-bold">*</span>
            </label>
            <div class="input-group">
                <input class="form-control" type="text" name="ClienteNome" id="nomeCliente" required/>
                <button type="button" class="btn btn-outline-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#buscarClienteModal">
                    <i class="fas fa-search fa-1x"></i>
                </button>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <label for="telefoneCliente" class="form-label">Telefone:</label>
            <input class="form-control" type="text" name="ClienteTelefone" id="telefoneCliente"/>
        </div>
        <div class="col-6 col-md-4">
            <label for="emailCliente" class="form-label">Email:</label>
            <input class="form-control" type="email" name="EmailCliente" id="emailCliente"/>
        </div>
        <div class="col-6">
            <label for="cpfCnpjCliente" class="form-label">CPF / CNPJ:</label>
            <input class="form-control" type="text" name="ClienteCpfCnpj" id="cpfCnpjCliente" maxlength="18"/>
        </div>
        <div class="col-6">
            <label for="inscricaoEstadualCliente" class="form-label">Inscrição Estadual:</label>
            <input class="form-control" type="text" name="ClienteInscricaoEstadual" id="inscricaoEstadualCliente"/>
        </div>
        <div class="col-6 col-md-2">
            <label for="cepCliente" class="form-label">CEP:</label>
            <input class="form-control" type="text" name="ClienteCEP" id="cepCliente"/>
        </div>
        <div class="col-6 col-md-2">
            <label for="cidadeCliente" class="form-label">Cidade:</label>
            <input class="form-control" type="text" name="ClienteCidade" id="cidadeCliente"/>
        </div>
        <div class="col-6 col-md-2">
            <label for="estadoCliente" class="form-label">Estado:</label>
            <select class="form-select" name="ClienteEstado" id="estadoCliente">
                <option value="">Selecione o estado...</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
        </div>
        <div class="col-6 col-md-3">
            <label for="bairroCliente" class="form-label">Bairro:</label>
            <input class="form-control" type="text" name="ClienteBairro" id="bairroCliente"/>
        </div>
        <div class="col-6 col-md-3">
            <label for="enderecoCliente" class="form-label">Endereço:</label>
            <input class="form-control" type="text" name="ClienteEndereco" id="enderecoCliente"/>
        </div>
        <div class="col-5 mb-3">
            <label for="condicaoPagamento" class="form-label">Condição de pagamento:</label>
            <select class="form-select" name="CondicaoPagamento" id="condicaoPagamento" required>
                <option value="">Selecione um tipo de pagamento...</option>
                @foreach (var condicao in Model.CondicoesPagamento)
                {
                    <option value="@condicao.Nome">@condicao.Nome</option>
                }
            </select>
        </div>
    </div>
    <hr/>
    <h3 class="text-center">Produtos</h3>
    <div class="d-flex justify-content-start">
        <button type="button" class="btn btn-primary" id="addProduto" title="Adicionar Produto">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div id="produtosContainer">
        <!-- Os produtos virão aqui -->
    </div>

    <!-- Resumo Final -->
    <h3 class="text-center">Resumo</h3>
    <div class="row">
        <div class="col-6 col-md-3">
            <label class="form-label">Subtotal:</label>
            <input class="form-control" type="text" name="SubTotal" id="subtotal" readonly/>
        </div>
        <div class="col-6 col-md-3">
            <label class="form-label">Desconto (%)</label>
            <input class="form-control desconto-total" type="text" name="Desconto" id="desconto" readonly
                   min="1" max="100" step="1"/>
        </div>
        <div class="col-6 col-md-3">
            <label class="form-label">Acréscimo (%)</label>
            <input class="form-control acrescimo-total" type="text" name="Acrescimo" id="acrescimo" readonly
                   min="1" max="100" step="1"/>
        </div>
        <div class="col-6 col-md-3">
            <label class="form-label">Vendedor</label>
            <select class="form-select" name="Vendedor" id="vendedor" required>
                <option value="">Selecione um vendedor...</option>
                @foreach (var vendedor in Model.Vendedores)
                {
                    <option value="@vendedor.Nome">@vendedor.Nome</option>
                }
            </select>
        </div>
        <div class="col-8">
            <label class="form-label">Observação</label>
            <textarea class="form-control" name="Observacao" id="observacao"></textarea>
        </div>
        <div class="col-4">
            <label class="form-label">Valor total:</label>
            <input class="form-control" type="text" name="ValorTotal" id="valorTotal" readonly/>
        </div>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary mt-1">
            <i class="fas fa-save"></i> Gerar PDF
        </button>
    </div>
</form>

<!-- Modais -->
<!-- Modal de Pesquisa de Cliente -->
<div class="modal fade" id="buscarClienteModal" tabindex="-1" aria-labelledby="buscarClienteModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="inputBuscarCliente" class="form-control mb-3" placeholder="Digite o nome ou CPF/CNPJ do cliente"/>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF/CNPJ</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaClientesPesquisa">
                    <!-- Os clientes virão aqui -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Busca de Produto -->
<div class="modal fade" id="buscarProdutoModal" tabindex="-1" aria-labelledby="buscarProdutoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buscar Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="inputBuscarProduto" class="form-control mb-3" placeholder="Digite o nome do produto"/>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody id="tabelaProdutosPesquisa">
                    <!-- Os produtos virão aqui -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //Assim que inicia a página
        $(document).ready(function () {

            //Mascáras de formatação
            $('#telefoneCliente').mask('(00) 00000-0000');
            $('#cepCliente').mask('00000-0000');
            $('#inscricaoEstadualCliente').mask('000.000.000.000'); // Pode ajustar se tiver outro formato
            $('#emailCliente').on('blur', function () {
                let email = $(this).val();
                let regex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
                if (!regex.test(email)) {
                    toastr.error("E-mail inválido");
                    $(this).focus();
                }
            });
            
            //Liga a tooltip
            $('[data-bs-toggle="tooltip"]').tooltip();
            
            //Puxa as informações do endereço pelo CEP
            $('#cepCliente').on("blur", function () {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep != "") {
                    var validacep = /^[0-9]{8}$/;
                    if (validacep.test(cep)) {
                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                            if (!("erro" in dados)) {
                                $("#enderecoCliente").val(dados.logradouro);
                                $("#bairroCliente").val(dados.bairro);
                                $("#cidadeCliente").val(dados.localidade);
                                $("#estadoCliente").val(dados.uf);
                            }
                            else {
                                alert("CEP não encontrado.");
                            }
                        });
                    }
                    else {
                        alert("Formato de CEP inválido.");
                    }
                }
                else {
                    alert("CEP em branco.");
                }
            });
            
            //Valor inicial de desconto e acrescimo também desbloqueia os campos
            if (!$('#desconto').val()) $('#desconto').val('0');
            if (!$('#acrescimo').val()) $('#acrescimo').val('0');

            $('#desconto').prop('readonly', false);
            $('#acrescimo').prop('readonly', false);

            calcularTotais();
            
        });
        
        //Bloco de seleção do produto
        let produtoSelecionadoIndex = null;

        //Ao abrir o modal de busca de produto, seta o index do produto
        $(document).on('click', '.btnBuscarProduto', function () {
            produtoSelecionadoIndex = $(this).data('index');
        });
        
        //Validação para aceitar a virgula como separador decimal
        $(document).on('input', '.preco-unitario', function () {
            let valor = $(this).val();
            
            valor = valor.replace(/[^0-9,]/g, '');
            
            let partes = valor.split(',');
            if (partes.length > 2) {
                valor = partes[0] + ',' + partes[1];
            }
            
            $(this).val(valor);
        });
        
        //Bloqueia a digitação de letras
        $(document).on('keypress', '.preco-unitario, .desconto-total, .acrescimo-total, .quantidade-produto', function (e) {
            const tecla = String.fromCharCode(e.which);
            if (!/[0-9,]/.test(tecla)) {
                e.preventDefault();
            }
            
            if (tecla === ',' && $(this).val().includes(',')) {
                e.preventDefault();
            }
        });
        
        //Apos colocar o input calcular
        $('#desconto, #acrescimo').on('input', function () {
            calcularTotais();
        });
        
        //Indice dos produtos
        var produtoIndex = 0;
        //Adiciona o produto
        $(document).on('click', '#addProduto', function () {
            var container = $('#produtosContainer');
            
            //Novo produto
            var novoProduto = `
                <div class="produtoItem">
                    <div class="row mb-2">
                        <div class="col-6">
                            <label class="form-label">Produto:</label>
                            <div class="input-group">
                                <input class="form-control" type="text" name="Itens[${produtoIndex}].NomeProduto" required/>
                                <button type="button" class="btn btn-outline-primary btnBuscarProduto"
                                    data-bs-toggle="modal" data-bs-target="#buscarProdutoModal"
                                    data-index="${produtoIndex}">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-3">
                            <label class="form-label">Quantidade:</label>
                            <input class="form-control quantidade-produto" type="number" name="Itens[${produtoIndex}].Quantidade" required/>
                        </div>
                        <div class="col-3">
                            <label class="form-label">Unitário:</label> 
                            <input class="form-control preco-unitario" type="text" name="Itens[${produtoIndex}].PrecoUnitario" required/>
                        </div>
                    </div>
                    
                    <div class="row mb-2">
                        <div class="col-6">
                            <label class="form-label">Descrição:</label>
                            <textarea name="Itens[${produtoIndex}].Descricao" class="form-control descricao" placeholder="Descrição"></textarea>
                        </div>
                        <div class="col-4">
                            <label class="form-label">Valor Total:</label>
                            <input type="text" class="form-control valor-total" name="Itens[${produtoIndex}].Total" placeholder="Valor Total" readonly>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-danger remove-produto">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
             <hr/>
            `;

            //Adiciona o produto
            container.append(novoProduto);

            //Incrementa o índice
            produtoIndex++;
            
            var $newProduct = $('.produtoItem').last();
            $newProduct.find('input[name$=".Quantidade"]').val(1);
            calcularTotais();
        })
        
        //Calcula os valores
        $(document).on('input', '.produtoItem input[name$=".Quantidade"], .produtoItem input[name$=".PrecoUnitario"]', function () {
            var $row = $(this).closest('.produtoItem');
            var quantidade = parseFloat($row.find('input[name$=".Quantidade"]').val());
            var precoUnitarioStr = $row.find('input[name$=".PrecoUnitario"]').val().replace(',', '.');
            var precoUnitario = parseFloat(precoUnitarioStr) || 0;

            var total = quantidade * precoUnitario;
            $row.find('.valor-total').val(total.toFixed(2));
            
            calcularTotais();
        });
        
        //Remove os produtos e recalcula o total
        $(document).on('click', '.remove-produto', function () {
            $(this).closest('.produtoItem').remove();
            calcularTotais();
        });
        
        //Calcula os totais
        function calcularTotais() {
            let subtotal = 0;
            $('.valor-total').each(function () {
                subtotal += parseFloat($(this).val()) || 0;
            });

            // Obter porcentagens de desconto e acréscimo
            let descontoPerc = parseFloat($('#desconto').val()) || 0;
            let acrescimoPerc = parseFloat($('#acrescimo').val()) || 0;

            // Calcular valores com base nas porcentagens
            let descontoValor = subtotal * (descontoPerc / 100);
            let acrescimoValor = subtotal * (acrescimoPerc / 100);

            // Calcular total final
            let total = subtotal - descontoValor + acrescimoValor;

            // Atualizar os campos
            $('#subtotal').val(subtotal.toFixed(2));
            $('#valorTotal').val(total.toFixed(2));
        }
        
        //Busca de clientes
        $('#inputBuscarCliente').on('input', function () {
            const termo = $(this).val();
            $.ajax({
                url: '/ManterOrcamentos/BuscarClientes',
                data: {termo},
                success: function (clientes) {
                    const tabela = $('#tabelaClientesPesquisa');
                    tabela.empty();
                    
                    clientes.forEach(c => {
                        tabela.append(
                            `
                                <tr>
                                    <td>${c.nome}</td>
                                    <td>${c.cpfCnpj}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success selecionar-cliente"
                                            data-id="${c.id}"
                                            data-nome="${c.nome}"
                                            data-telefone="${c.telefone}"
                                            data-email="${c.email}"
                                            data-cpf="${c.cpfCnpj}"
                                            data-inscricao="${c.inscricaoEstadual}"
                                            data-cep="${c.cep}"
                                            data-cidade="${c.cidade}"
                                            data-estado="${c.estado}"
                                            data-bairro="${c.bairro}"
                                            data-endereco="${c.endereco}">
                                            Selecionar
                                        </button>
                                    </td>
                                </tr>
                            `
                        );
                    });
                }
            });
        });
        //Preenche os campos do cliente
        $(document).on('click', '.selecionar-cliente', function () {
            $('#idCliente').val($(this).data('id'));
            $('#nomeCliente').val($(this).data('nome'));
            $('#telefoneCliente').val($(this).data('telefone'));
            $('#emailCliente').val($(this).data('email'));
            $('#cpfCnpjCliente').val($(this).data('cpf'));
            $('#inscricaoEstadualCliente').val($(this).data('inscricao'));
            $('#cepCliente').val($(this).data('cep'));
            $('#cidadeCliente').val($(this).data('cidade'));
            $('#estadoCliente').val($(this).data('estado'));
            $('#bairroCliente').val($(this).data('bairro'));
            $('#enderecoCliente').val($(this).data('endereco'));

            $('#buscarClienteModal').modal('hide');
        });

        //Busca de produtos
        $('#inputBuscarProduto').on('input', function () {
            const termo = $(this).val();
            $.ajax({
                url: '/ManterOrcamentos/BuscarProdutos',
                data: {termo},
                success: function (produtos) {
                    const tabela = $('#tabelaProdutosPesquisa');
                    tabela.empty();
                    
                    produtos.forEach(p => {
                        tabela.append(
                            `
                                <tr>
                                    <td>${p.nome}</td>
                                    <td>${p.preco}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success selecionar-produto"
                                            data-id='${p.id}'
                                            data-nome='${p.nome}'
                                            data-preco='${p.preco}'
                                            data-descricao='${p.descricao}'
                                            >
                                            Selecionar
                                        </button>
                                    </td>
                                </tr>
                            `
                        );
                    });
                }
            });
        });
        
        //Preenche os campos do produto
        $(document).on('click', '.selecionar-produto', function () {
            let nome = $(this).data('nome');
            let preco = $(this).data('preco');
            let descricao = $(this).data('descricao');

            let $row = $('.produtoItem').eq(produtoSelecionadoIndex);
            $row.find('input[name$=".NomeProduto"]').val(nome);
            $row.find('input[name$=".PrecoUnitario"]').val(preco.toString().replace('.', ','));
            $row.find('textarea[name$=".Descricao"]').val(descricao);

            // força o cálculo do total do item
            let quantidade = parseFloat($row.find('input[name$=".Quantidade"]').val()) || 1;
            let total = quantidade * parseFloat(preco);
            $row.find('.valor-total').val(total.toFixed(2));

            calcularTotais();
            $('#buscarProdutoModal').modal('hide');
        });
        
        //Valida se o cliente está preenchido com clienteId
        $('#gerarOrcamentoForm').on('submit', function (e) {
            const clienteId = $('#idCliente').val();   
            const identificacao = $('#identificacaoOrcamento').val();
            
            if (!clienteId && (!identificacao || identificacao.trim() === "")) {
                e.preventDefault();
                toastr.error("Para clientes não cadastrados informe a identificação do orçamento.");
                $('#identificacaoOrcamento').focus();
            }

            // Verificação se há pelo menos 1 produto
            if ($('.produtoItem').length === 0) {
                e.preventDefault();
                toastr.error("É necessário incluir ao menos um produto no orçamento.");
            }
        });
        
        //Caso o usuário mude o nome do cliente, limpa o id
        $('#nomeCliente').on('input', function () {
            $('#idCliente').val('');
        });
        
        //Validações
        //Validação de CPF e CNPJ
        function validarCpfCnpj(valor) {
            valor = valor.replace(/\D/g, '');

            if (valor.length === 11) {
                return validarCPF(valor);
            } else if (valor.length === 14) {
                return validarCNPJ(valor);
            }
            return false;
        }

        //Calc validação CPF
        function validarCPF(cpf) {
            let soma = 0;
            if (cpf.length !== 11 || /^(\d)\1+$/.test(cpf)) return false;

            for (let i = 0; i < 9; i++) {
                soma += parseInt(cpf.charAt(i)) * (10 - i);
            }

            let resto = soma % 11;
            let digito1 = resto < 2 ? 0 : 11 - resto;

            soma = 0;
            for (let i = 0; i < 10; i++) {
                soma += parseInt(cpf.charAt(i)) * (11 - i);
            }

            resto = soma % 11;
            let digito2 = resto < 2 ? 0 : 11 - resto;

            return digito1 === parseInt(cpf.charAt(9)) && digito2 === parseInt(cpf.charAt(10));
        }
        
        //Calc validação CNPJ
        function validarCNPJ(cnpj) {
            if (cnpj.length !== 14 || /^(\d)\1+$/.test(cnpj)) return false;

            let tamanho = cnpj.length - 2
            let numeros = cnpj.substring(0, tamanho);
            let digitos = cnpj.substring(tamanho);
            let soma = 0;
            let pos = tamanho - 7;

            for (let i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2) pos = 9;
            }

            let resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado !== parseInt(digitos.charAt(0))) return false;

            tamanho++;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;

            for (let i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2) pos = 9;
            }

            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            return resultado === parseInt(digitos.charAt(1));
        }

        $('#cpfCnpjCliente').on('blur', function () {
            const valor = $(this).val();
            if (!validarCpfCnpj(valor)) {
                toastr.error("CPF ou CNPJ inválido!");
                $(this).focus();
            }
        });
        
        
    </script>
}